/* Resume */
form + div {
  border: solid 2px black;
}

/* Resume header */
form + div > header {
  display: flex;
  justify-content: space-between;
}

/* Summary section */
form + div > section:first-of-type {
}

form + div > section:first-of-type > h3 {
  background-color: #4372c4;
  color: white;
  font-size: 24px;
  line-height: 42px;
  margin: 0;
}

/* Experience and Education sections */
form + div > section + section > h3 {
  background-color: #4372c4;
  color: white;
  font-size: 24px;
  line-height: 42px;
  margin: 0;
}

/* Move this later */
/* Experience and Education sections h4 and span */
form + div > section + section > div > div:first-of-type {
  background-color: #9fb6de;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 42px;
  font-size: 24px;
}
